<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header.ejs %>

</head>

<body>

<% include ../partials/nav.ejs %>

<div class="container">
    <h2>Hungry for math - Winner (database result)</h2>

    <ul>
        <% results.forEach(function(r) { %>
            <li><%= r.nickname %> - <%= r.correctanswers %> - <%= r.totaltime %></li>
        <% }); %>
    </ul>

</div>

</body>
</html>
